body {
    background-image: url("/imagens/models.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.flexbox-container {
    display: flex;            
    
}

.flexbox-item {
    width: 200px;    
}

.flexbox-item-1 {
    min-height: 100px;
    flex-grow: 0.5;
}

.flexbox-item-2 {
    min-height: 400px;
    flex-grow: 2;
}

#logo {
    width: 30%;
    margin-top: -10%;
    margin-left: 5%;
} 

ol {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 0%;            
}

.lista li {
    display: inline;    
    padding: 25px;    
}

a:link, a:visited {
    color: black;
    text-decoration: none;    
}

a:hover {
    color: rgb(66, 66, 66);     
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 45%;
    color: black;    
    font-size: 40px;
}

#customizacao {
    background-color: rgb(32, 29, 29);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 37%;
    border: none;
    border-radius: 22px;
    font-size: 20px;
    padding: 15px 40px;
}

#customizacao:hover {
    background-color: black;
}

#botaocustom {
    color: white;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

